# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons
*.node

# Optional: Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln